#Archivos Thumbs
/app/views/static/img/thumbnails/*
app/views/static/img/thumbnails/*

# Entorno virtual
venv/
env/
.env

# Archivos de compilación de Python
__pycache__/
*.py[cod]

# Archivos de configuración del sistema
*.db
*.sqlite3

# Archivos de log
*.log

# Archivos de configuración de IDEs
.idea/
.vscode/

# Archivos temporales
*.tmp
*.temp
.DS_Store

# Otros archivos que no deseas rastrear
*.pyo
*.egg-info/
dist/
build/
