./venv
/venv
venv
venv/*


/app/views/static/img/thumbnails/*
app/views/static/img/thumbnails/*


*/__pycache__
__pycache__/*
__pycache__/
*/__pycache__/**

**/__pycache__/
__pycache__
**/__pycache__/**

__pycache__/
 *.pyc