{% extends "layout.html" %}
{% block content %}
	<article class="main">
		<!-- Videos Items -->
		<div class="flex_cartas">
		{% for i in files %}
		    {# Detectamos el tipo de archivo por extensión #}
		    {% set file_ext = i.split('.')[-1].lower() %}

		    {# Video (MP4, AVI, MOV, etc.) #}
		    {% if file_ext in ['mp4', 'avi', 'mov', 'mkv'] %}
		        <div class="carta">
		            <div class="carta_img">
		                <img src="../static/img/thumbnails/{{ location }}/{{ i[:-4] }}.jpg" alt="Imagen de {{ i }}">
		            </div>
		            <div class="contenedorCartaBotons">
		                <div class="carta_title">
		                    <h3 title="{{ i[:-4].title() }}">{{ i[:-4].title() }}</h3>
		                </div>
		                <div class="carta_botons">
		                    <ul>
		                        <li><a href="/download_video/{{ location.replace('/', '&').replace(' ', '-') }}/{{ i }}"><i class="fa-solid fa-play"></i></a></li>
		                        <li><a href="/download_video/{{ location.replace('/', '&').replace(' ', '-') }}/{{ i }}" download="true"><i class="fa-solid fa-download"></i></a></li>
		                        <li class="tooltip">
		                            <p class="tooltip__message">¡Link copiado!</p>
		                            <img class="imagenVLC" src="../static/img/vlc.png">
		                            <p class="hidden">http://{{ adress }}/download_video/{{ location.replace('/', '&').replace(' ', '-') }}/{{ i }}</p>
		                        </li>
		                    </ul>
		                </div>
		            </div>
		        </div>

		    {# Música (MP3, WAV, FLAC, etc.) #}
		    {% elif file_ext in ['mp3', 'wav', 'flac', 'ogg', 'm4a'] %}
			    <div class="carta">
		            <div class="carta_img">
		                <img src="../static/img/music.png" class="imagen_music">
		            </div>
		            <div class="contenedorCartaBotons">
		                <div class="carta_title">
		                    <h3 title="{{ i[:-4].title() }}">{{ i[:-4].title() }}</h3>
		                </div>
		                <div class="carta_botons">
		                    <ul>
		                        <li><a href="/download_video/{{ location.replace('/', '&').replace(' ', '-') }}/{{ i }}"><i class="fa-solid fa-play"></i></a></li>
		                        <li><a href="/download_video/{{ location.replace('/', '&').replace(' ', '-') }}/{{ i }}" download="true"><i class="fa-solid fa-download"></i></a></li>
		                        <li class="tooltip">
		                            <p class="tooltip__message">¡Link copiado!</p>
		                            <img class="imagenVLC" src="../static/img/vlc.png">
		                            <p class="hidden">http://{{ adress }}/download_video/{{ location.replace('/', '&').replace(' ', '-') }}/{{ i }}</p>
		                        </li>
		                    </ul>
		                </div>
		            </div>
		        </div>

		    {# Documentos (PDF, DOCX, TXT, etc.) #}
		    {% elif file_ext in ['jpg', 'jpeg', 'png', 'gif'] %}
		        <div class="carta">
		            <div class="carta_img">
		                <img src="../static/img/picture.png" class="imagen_music">
		            </div>
		            <div class="contenedorCartaBotons">
		                <div class="carta_title">
		                    <h3 title="{{ i[:-4].title() }}">{{ i[:-4].title() }}</h3>
		                </div>
		                <div class="carta_botons">
		                    <ul>
		                        <li><a href="/download_video/{{ location.replace('/', '&').replace(' ', '-') }}/{{ i }}"><i class="fa-solid fa-eye"></i></a></li>
		                        <li><a href="/download_video/{{ location.replace('/', '&').replace(' ', '-') }}/{{ i }}" download="true"><i class="fa-solid fa-download"></i></a></li>
		                    </ul>
		                </div>
		            </div>
		        </div>
		    {% else %}
		        <div class="carta">
		            <div class="carta_img">
		                <img src="../static/img/docs.png" class="imagen_music">
		            </div>
		            <div class="contenedorCartaBotons">
		                <div class="carta_title">
		                    <h3 title="{{ i[:-4].title() }}">{{ i[:-4].title() }}</h3>
		                </div>
		                <div class="carta_botons">
		                    <ul>
		                        <li><a href="/download_video/{{ location.replace('/', '&').replace(' ', '-') }}/{{ i }}"><i class="fa-solid fa-eye"></i></a></li>
		                        <li><a href="/download_video/{{ location.replace('/', '&').replace(' ', '-') }}/{{ i }}" download="true"><i class="fa-solid fa-download"></i></a></li>
		                    </ul>
		                </div>
		            </div>
		        </div>
		    {% endif %}
		{% endfor %}

		<!-- Folder Items -->
		{% for i in folders %}
			<div class="carta_folder">
				<a href="/folder/{{ location.replace('/', '&').replace(' ', '-') }}&{{ i }}">
				<div class="carta_img_folder">
					<img class="folder_png" src="/static/img/folder.png" alt="Imagen de una Carpeta">
				</div>
				<div class="carta_title_folder">
					<h3>{{ i.replace('-', ' ') }}</h3>
				</div>
				</a>
			</div>
		{% endfor %}
		</div>
	</article>
{% endblock %}