/* Colores */
/*
	#293045
	#44425d
	#6e5d81
	#ab82ae
	#fcb2e4
*/

/* Colores */
/*
	#0e151e
	#1e2433
	#37374d
	#594d6b
	#86678d
*/


/*Para todo*/
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

a{text-decoration: none;}
li{list-style: none;}


.contain{
	width: 100%;
	height: 100vh;
	background-image: url("../img/fondo.png");
	background: #0e151e;
}

nav.index_nav{
	width: 80%;
	padding: 20px 10px;
	margin: auto;
}

.index_nav h2{
	text-align: center;
	font-family: fuente4;
	color: #dad6cd;
}


article.index_article{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	height: 70vh;
}

.index_tag{
	margin: auto;
	display: table;
	padding: 10px;
	border-radius: 4px;
}

.index_image_tag{
	width: 100px;
	height: 100px;
}

.index_image_tag img{
	width: 100px;
	height: 100px;
	object-fit: contain;
}

.index_title_tag{
	margin-top: 10px;
}

.index_title_tag h4.index_tag_title{
	text-align: center;
	color: #dad6cd;
	font-family: fuente5;
	font-weight: 700;
}