/*Importar Estilos*/
@import url("layout.css");

.contain{
	width: 100%;
	height: 100vh;
	background: #0a0a0a;
}
.index_article{
	width: 100%;
	height: 90vh;
	overflow: hidden;
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.index_article__description{
	width: 500px;
}
.index_article__title{
	font-family: fuente4;
	font-weight: 800;
	color: white;
	font-size: 30px;
}
.index_article__text{
	margin-top: 10px;
}
.index_article_tags{
	display: flex;
	justify-content: space-around;
}
.index_tag{
	width: 130px;
	height: 150px;
	border-radius: 5px;
}
.index_tag a{
	width: 100%;
	height: 100%;
	display: flex;
	flex-flow: column nowrap;
	overflow: hidden;
	align-items: center;
	justify-content: space-around;
}
.index_image_tag{
	width: 100%;
	height: 100px;
}
.index_image_tag img{
	display: block;
	object-fit: contain;
    height: 100px;
    margin: auto;
}

.index_title_tag h4{
	font-size: 14px;
	text-align: center;
	color: white;
}

@media (max-width: 900px){      
   .index_article{
   		flex-flow: column-reverse;
   		justify-content: center;
   }
   .index_article_tags{
   		margin-bottom: 50px;
   }
}

@media (max-width: 600px){      
   .index_article__description{
		width: 90%;
		margin: 0 auto;
	}
}

@media (max-width: 450px){      
   .index_image_tag img{
	    height: 80px;
	}
	.index_image_tag{
		height: 80px;
	}
	.index_tag{
		width: 80px;
		border-radius: 5px;
		margin: 0 10px;
		margin-top: 50px;
	}
	.index_article__title{
		font-size: 20px;
	}
	.index_article__description{
		font-size: 14px;
	}
}